@import 'ability/abilitiesBox',
    'statBox/statBox',
    'weapons/weaponsBox',
    'keyword/keywordBox';

.card {

    font-family: 'SansSerif', SansSerif, monospace;
    font-size: 0.8rem;

    border: 2px solid black;
    height: 710px;
    width: 1040px;
    
    display: flex;

    .left-column {

        background-color: brown;
        width: 250px;
        height: 100%;

        .lore-text {
            margin-left: 5px;
            margin-right: 5px;
            color: white;
            text-align: left;
        }
    }

    .right-column {

        align-items: center;
        background-color: antiquewhite;
        display: block;
        height: 100%;
        width: 100%;


        .header {
            letter-spacing: 0.5px;
        }

        .abilities-and-keywords-box {
            height: 61%;
        }
    }
}