.card {

    font-family: 'Courier New', Courier, monospace;

    border: 2px solid black;
    height: 1240px;
    width: 1754px;
    
    display: flex;

    .left-column {

        background-color: black;
        width: 250px;
        height: 1240px;

        .lore-text {
            margin-left: 5px;
            margin-right: 5px;
            color: white;
            text-align: left;
        }
    }

    .right-column {

        display: block;
        align-items: center;
        width: 100%;

        .header {
        }
    }
}