.stat-box {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 25px 25px 25px 25px;
    color: antiquewhite;
    background: black;

    .triangle {
        position: absolute;
        width: 0;
        height: 0;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          font-size: 2em;
        }

        &.top {
            top: 50px;
            left: 50%;
            transform: translateX(-50%);

            .text-box {

                h6 {
                }

                p {
                  margin-top: -10px;
                  padding-top: 20px;
                }
            }

          }
          
        &.right {
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            transform: rotate(90deg);
            right: 30px;

            .text-box {
              
              h6 {
                position: relative;
                margin: 0;
                bottom: 20px;
              }
              
              p {
                position: relative;
                margin: 0;
                transform: rotate(-90deg);
                bottom: 0px;
              }
            }
          }
          
        &.bottom {
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transform: rotate(180deg);
            bottom: 50px;

            h6 {
              position: relative;
              transform: rotate(-180deg);
            }

            p {
              position: relative;
              transform: rotate(-180deg);
              bottom: 10px;
            }

          }
          
        &.left {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transform: rotate(270deg);
            left: 50px;

            p {
              position: relative;
              transform: rotate(-270deg);
              bottom: 10px;
            }
          }
    }
}